page-table {
	.canvas{
		height: 100%
	}
	ion-card-content{
		min-height: 200px;
	}
	.big-component{
		min-height: 500px;
	}
	.medium-component{
		min-height: 285px;
	}
	#cy {
	  /*width: 450px;
	  height: 450px;
	  display: block;*/
	  width: 100%;
      height: 100%;
	}
	.map {
        width: 100%;
        height: 100%;
      }
}
